.DS_Store
.dart_tool/

.packages
.pub/

build/

pubspec.lock

android/src/main/res/drawable-xxxhdpi/ic_default_avatar.png

android/src/main/res/drawable-xxxhdpi/ic_logo.png

android/src/main/res/drawable-xxxhdpi/.gitkeep
